@media(max-width: 740px) {
    html{
        font-size: 65%;
    }
}
@media(max-width: 580) {
    html{
        font-size: 40%;
    }
}


@media(max-width: 1000px) {
    .Lado-esquerdo{
        display: none;
    }
    #btn{
        display: none;
    }
}     
@media(max-width: 532){
    .chat-container{
        width: 1000px;
        height: 1000px;
        background-color: red;
        display: block;
    }
}