@media(max-width: 740px) {
    html{
        font-size: 65%;
    }
}
@media(max-width: 580) {
    html{
        font-size: 40%;
    }
}

@media(max-width: 750px) {            /*BOTAO RETRÁTIL*/
    #btn{
        display: none;
    }
    .ChatGeral{
        display: none;
    }

    .content{
        display: none;
    }
    .esquerda{
        display: none;
    }

}
